
//
// VARIABLES
//

// Colors
$blue: #e0a80d;

// Grays
$black: #000;
$darkerGray: #222;
$darkslategraylight: #2b2c2c;
$darkslategraydark: #2d2e2e;
$text: #a4a5a6;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$exo2 : 'Exo 2', sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}